<!DOCTYPE html>
<html lang="vi" dir="ltr">
  <!-- Mirrored from themes.pixelstrap.net/zomo/landing/backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Dec 2024 00:48:25 GMT -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Zomo admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities."
    />
    <meta
      name="keywords"
      content="admin template,Zomo admin template, dashboard template, flat admin template, responsive admin template, web app"
    />
    <meta name="author" content="pixelstrap" />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/images/favicon.ico"
    />
    <title><%= title %> | Pizzahut TN</title>

    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Linear Icon css -->
    <link rel="stylesheet" href="/css/linearicon.css" />

    <!-- fontawesome css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/vendors/font-awesome.css"
    />

    <!-- Themify icon css-->
    <link rel="stylesheet" type="text/css" href="/css/vendors/themify.css" />

    <!-- ratio css -->
    <link rel="stylesheet" type="text/css" href="/css/ratio.css" />

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="/css/remixicon.css" />

    <!-- Feather icon css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/vendors/feather-icon.css"
    />

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="/css/vendors/scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/vendors/animate.css" />

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/css/vendors/bootstrap.css" />

    <!-- vector map css -->
    <link rel="stylesheet" type="text/css" href="/css/vector-map.css" />

    <!-- swiper slider -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/vendors/swiper-bundle.min.css"
    />

    <!-- Slick Slider Css -->
    <link rel="stylesheet" href="/css/vendors/slick.css" />

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <!-- tap on top start -->
    <div class="tap-top">
      <i class="ri-arrow-up-double-fill"></i>
    </div>
    <!-- tap on tap end -->

    <!-- loader start -->
    <div class="loader-wrapper">
      <img src="/images/loader.gif" alt="loading..." />
    </div>
    <!-- loader end -->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper m-0">
          <div class="header-logo-wrapper p-0">
            <div class="logo-wrapper">
              <a href="/admin">
                <img
                  class="img-fluid main-logo"
                  src="/images/logo/svg/logo.svg"
                  alt="logo"
                />
                <img
                  class="img-fluid white-logo"
                  src="/images/logo/svg/logo-light.svg"
                  alt="logo"
                />
              </a>
            </div>
            <div class="toggle-sidebar">
              <i
                class="status_toggle middle sidebar-toggle"
                data-feather="align-center"
              ></i>
              <a href="/admin">
                <img
                  class="img-fluid for-light"
                  src="/images/logo/svg/logo.svg"
                  alt="logo"
                />
                <img
                  class="img-fluid for-dark"
                  src="/images/logo/svg/logo-light.svg"
                  alt="logo"
                />
              </a>
            </div>
          </div>
          <div class="welcome-title">
            <h5>
              For the love of pizza!!!
              <img src="/images/header.gif" alt="" />
            </h5>
            <span>
              Thỏa thích vị giác của bạn với những chiếc pizza ngon nhất của
              chúng tôi!!!
            </span>
          </div>
          <div class="nav-right col-xl-6 col-5 pull-right right-header p-0">
            <ul class="nav-menus">
              <li class="search-icon">
                <span class="header-search">
                  <i class="ri-search-line"></i>
                </span>
              </li>
              <!-- <li class="onhover-dropdown">
                <div class="notification-box">
                  <i class="ri-notification-line"></i>
                  <span class="badge rounded-pill badge-theme">4</span>
                </div>
                <ul class="notification-dropdown onhover-show-div">
                  <li>
                    <i class="ri-notification-line"></i>
                    <h4 class="mb-0">Notitications</h4>
                  </li>
                  <li>
                    <p>
                      <i class="fa fa-circle me-2 font-primary"></i>Delivery
                      processing <span class="pull-right">10 min.</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fa fa-circle me-2 font-success"></i>Order
                      Complete<span class="pull-right">1 hr</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fa fa-circle me-2 font-info"></i>Tickets
                      Generated<span class="pull-right">3 hr</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fa fa-circle me-2 font-danger"></i>Delivery
                      Complete<span class="pull-right">6 hr</span>
                    </p>
                  </li>
                  <li>
                    <a class="btn btn-primary" href="javascript:void(0)"
                      >Check all notification</a
                    >
                  </li>
                </ul>
              </li> -->
              <!-- <li class="onhover-dropdown">
                <div class="messages-box">
                  <i class="ri-message-3-line"></i>
                </div>
                <ul class="messages-dropdown onhover-show-div">
                  <li>
                    <i class="ri-message-3-line"></i>
                    <h4 class="mb-0">Messages</h4>
                  </li>
                  <li>
                    <div class="d-flex align-items-center gap-2">
                      <img src="/images/user/1.jpg" alt="" />
                      <div>
                        <h5>Nullam tempor</h5>
                        <p>Curabitur facilisis erat viverra.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center gap-2">
                      <img src="/images/user/2.jpg" alt="" />
                      <div>
                        <h5>Nullam tempor</h5>
                        <p>Curabitur facilisis erat viverra.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center gap-2">
                      <img src="/images/user/3.jpg" alt="" />
                      <div>
                        <h5>Nullam tempor</h5>
                        <p>Curabitur facilisis erat viverra.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center gap-2">
                      <img src="/images/user/4.jpg" alt="" />
                      <div>
                        <h5>Nullam tempor</h5>
                        <p>Curabitur facilisis erat viverra.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="btn btn-primary" href="javascript:void(0)"
                      >Go to Inbox</a
                    >
                  </li>
                </ul>
              </li> -->
              <li>
                <div class="mode">
                  <i class="ri-moon-line"></i>
                </div>
              </li>
              <li class="profile-nav onhover-dropdown pe-0 me-0">
                <div class="media profile-media">
                  <!-- <img
                    class="user-profile rounded-circle"
                    src="/images/users/4.jpg"
                    alt=""
                  /> -->
                  <div class="user-name-hide media-body">
                    <span><%=user.full_name%></span>
                    <p class="mb-0 font-roboto">
                      <%=user.role%><i class="middle ri-arrow-down-s-line"></i>
                    </p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li>
                    <a href="/admin/users">
                      <i data-feather="users"></i>
                      <span>Khách hàng</span>
                    </a>
                  </li>
                  <li>
                    <a href="order-list.html">
                      <i data-feather="archive"></i>
                      <span>Orders</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="support-ticket.html">
                      <i data-feather="phone"></i>
                      <span>Spports Tickets</span>
                    </a>
                  </li> -->
                  <!-- <li>
                    <a href="profile-setting.html">
                      <i data-feather="settings"></i>
                      <span>Settings</span>
                    </a>
                  </li> -->
                  <li>
                    <a href="#" id="logout-link">
                      <i data-feather="log-out"></i>
                      <span>Log out</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="input-box">
            <i class="ri-search-line"></i>
            <input
              class="search-box"
              type="search"
              placeholder="What are you looking for?"
            />
            <i class="close-icon" data-feather="x"></i>
          </div>
        </div>
      </div>
      <!-- Page Header Ends-->

      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper">
          <div>
            <div class="logo-wrapper logo-wrapper-center">
              <a href="/admin" data-bs-original-title="" title="">
                <img
                  class="img-fluid for-white logo-sidebar"
                  src="/images/logo/svg/logo.svg"
                  alt="logo"
                />
              </a>
              <div class="back-btn">
                <i class="fa fa-angle-left"></i>
              </div>
              <div class="toggle-sidebar">
                <i
                  class="ri-apps-2-line status_toggle middle sidebar-toggle"
                ></i>
              </div>
            </div>
            <div class="logo-icon-wrapper">
              <a href="/admin">
                <img
                  class="img-fluid main-logo"
                  src="/images/favicon.ico"
                  alt="logo"
                  style="background-color: var(--white); border-radius: 50%"
                />
              </a>
            </div>
            <nav class="sidebar-main">
              <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
              </div>

              <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                  <li class="back-btn"></li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="/admin"
                    >
                      <i class="ri-home-line"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="linear-icon-link sidebar-link sidebar-title"
                      href="javascript:void(0)"
                    >
                      <i class="ri-bowl-line"></i>
                      <span>Sản phẩm</span>
                    </a>
                    <ul class="sidebar-submenu">
                      <li>
                        <a href="/admin/product">Danh sách sản phẩm</a>
                      </li>

                      <li>
                        <a href="/admin/add-product">Thêm sản phẩm</a>
                      </li>
                    </ul>
                  </li>
                  <li class="sidebar-list">
                    <a
                      class="linear-icon-link sidebar-link sidebar-title"
                      href="javascript:void(0)"
                    >
                      <i class="ri-layout-horizontal-line"></i>
                      <span>Danh mục</span>
                    </a>
                    <ul class="sidebar-submenu">
                      <li>
                        <a href="/admin/category">Danh sách danh mục</a>
                      </li>

                      <li>
                        <a href="/admin/add-category">Thêm danh mục</a>
                      </li>
                    </ul>
                  </li>
                  <li class="sidebar-list">
                    <a
                      class="linear-icon-link sidebar-link sidebar-title"
                      href="javascript:void(0)"
                    >
                      <i class="ri-booklet-line"></i>
                      <span>Combo</span>
                    </a>
                    <ul class="sidebar-submenu">
                      <li>
                        <a href="/admin/combo">Danh sách combo</a>
                      </li>

                      <li>
                        <a href="/admin/add-combo">Thêm combo</a>
                      </li>
                    </ul>
                  </li>
                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="/admin/users"
                    >
                      <i class="ri-user-3-line"></i>
                      <span>Khách hàng</span>
                    </a>
                  </li>
                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="/admin/orders"
                    >
                      <i class="ri-store-3-line"></i>
                      <span>Orders</span>
                    </a>
                  </li>
                </ul>  
              </div>

              <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
              </div>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->

        <!-- index body start -->
        <div class="page-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xxl-3 col-xl-4 col-md-4 col-12">
                <div class="card p-0">
                  <div class="cadr-body">
                    <div class="welcome-card">
                      <div>
                        <h5>Exclusive discount program</h5>
                        <h3>Welcome to PizzaHut</h3>
                        <a
                          href="/admin/category"
                          class="btn btn-primary w-50 mx-auto"
                          >Check Menu</a
                        >
                        <img
                          class="offer"
                          src="/images/dashboard/offer.gif"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-9 col-xl-8 col-md-8 col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>Menu danh mục</h5>
                      </div>
                      <div class="card-body">
                        <div class="categories-section">
                          <div class="theme-arrow">
                            <div
                              class="swiper categories-slider categories-style"
                            >
                              <div class="swiper-wrapper">
                                <% if (categoryData && categoryData.length > 0)
                                { %> <% categoryData.forEach(category => { %>
                                <div class="swiper-slide">
                                  <a
                                    href="/admin/update-category/<%= category.category_id %>"
                                    class="food-categories"
                                  >
                                    <img
                                      class="img-fluid categories-img"
                                      src="<%=category.image_category_url%>"
                                      alt="image-<%=category.category_name%>"
                                    />
                                    <h4 class="dark-text">
                                      <%=category.category_name%>
                                    </h4>
                                  </a>
                                </div>
                                <% }) %> <% } else { %>
                                <span colspan="7"
                                  >Hiện không có danh mục nào!</span
                                >
                                <% } %>
                              </div>
                            </div>
                            <div
                              class="swiper-button-next categories-next"
                            ></div>
                            <div
                              class="swiper-button-prev categories-prev"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-sm-6">
                    <div class="card widgets-card">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div
                            class="col-lg-5 d-flex d-lg-block justify-content-between align-items-center"
                          >
                            <h5>Total Sale</h5>
                            <h2>$254.90</h2>
                          </div>
                          <div class="col-lg-7 col-12 p-0">
                            <div id="daily-value"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-sm-6">
                    <div class="card widgets-card">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div
                            class="col-lg-5 d-flex d-lg-block justify-content-between align-items-center"
                          >
                            <h5>Total Profit</h5>
                            <h2>$254.90</h2>
                          </div>
                          <div class="col-lg-7 col-12 p-0">
                            <div id="order-value"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-6 d-none d-xxl-block">
                    <div class="card widgets-card">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-5">
                            <h5>Customer rate</h5>
                            <h2>5.12%</h2>
                          </div>
                          <div class="col-7 p-0">
                            <div id="admissionRatio"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-7">
                <div class="card">
                  <div class="card-header">
                    <h5>Đơn hàng mới</h5>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                      <div>
                        <table class="table user-table" id="table_id">
                          <thead>
                            <tr>
                              <th>
                                <input
                                  id="checkall​"
                                  class="custom-checkbox"
                                  type="checkbox"
                                  name="text"
                                />
                              </th>
                              <th>Food</th>
                              <th>Customer</th>
                              <th>Order Date</th>
                              <th>Price</th>
                              <th>Status</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td>
                                <input
                                  class="custom-checkbox"
                                  type="checkbox"
                                  name="text"
                                />
                              </td>

                              <td>
                                <div class="table-image">
                                  <img
                                    src="/images/dashboard/product-2/1.jpg"
                                    class="img-fluid"
                                    alt=""
                                  />
                                  <h5>Fish Burger</h5>
                                </div>
                              </td>
                              <td>Jessica Taylor</td>
                              <td>25/10/2024</td>

                              <td>$30.00</td>

                              <td>
                                <div class="pending">pending</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  class="custom-checkbox"
                                  type="checkbox"
                                  name="text"
                                />
                              </td>

                              <td>
                                <div class="table-image">
                                  <img
                                    src="/images/dashboard/product-2/2.jpg"
                                    class="img-fluid"
                                    alt=""
                                  />
                                  <h5>Pepperoni Pizza</h5>
                                </div>
                              </td>
                              <td>Jane Cooper</td>
                              <td>20/1/2024</td>

                              <td>$57.20</td>

                              <td>
                                <div class="completed">completed</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  class="custom-checkbox"
                                  type="checkbox"
                                  name="text"
                                />
                              </td>

                              <td>
                                <div class="table-image">
                                  <img
                                    src="/images/dashboard/product-2/3.jpg"
                                    class="img-fluid"
                                    alt=""
                                  />
                                  <h5>Hot Dog</h5>
                                </div>
                              </td>
                              <td>Olivia Anderson</td>
                              <td>18/10/2024</td>

                              <td>$40.00</td>

                              <td>
                                <div class="pending">pending</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  class="custom-checkbox"
                                  type="checkbox"
                                  name="text"
                                />
                              </td>

                              <td>
                                <div class="table-image">
                                  <img
                                    src="/images/dashboard/product-2/4.jpg"
                                    class="img-fluid"
                                    alt=""
                                  />
                                  <h5>Nachos</h5>
                                </div>
                              </td>
                              <td>Sophia Garcia</td>
                              <td>02/08/2024</td>

                              <td>$30.25</td>

                              <td>
                                <div class="completed">completed</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  class="custom-checkbox"
                                  type="checkbox"
                                  name="text"
                                />
                              </td>

                              <td>
                                <div class="table-image">
                                  <img
                                    src="/images/dashboard/product-2/5.jpg"
                                    class="img-fluid"
                                    alt=""
                                  />
                                  <h5>Beef Burger</h5>
                                </div>
                              </td>
                              <td>Michael Smith</td>
                              <td>05/05/2024</td>

                              <td>$50.00</td>
                              <td>
                                <div class="pending">pending</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  class="custom-checkbox"
                                  type="checkbox"
                                  name="text"
                                />
                              </td>

                              <td>
                                <div class="table-image">
                                  <img
                                    src="/images/dashboard/product-2/6.jpg"
                                    class="img-fluid"
                                    alt=""
                                  />
                                  <h5>Japanese Ramen</h5>
                                </div>
                              </td>
                              <td>David Wilson</td>
                              <td>26/07/2024</td>

                              <td>$71.010</td>

                              <td>
                                <div class="completed">completed</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="card">
                  <div class="card-header mb-0">
                    <h5>Số liệu bán hàng</h5>
                  </div>
                  <div class="card-body">
                    <div id="earning-average"></div>
                    <div class="special-items-box">
                      <h5>Món ăn đặc biệt hôm nay</h5>
                      <div class="dish-img"></div>
                      <h6>
                        🔥 Ngập Full Cheese - Ngon Phun Trào 🧀Pizza Lava Chính
                        Thức Chào Các Đồng Tiệc
                      </h6>
                      <ul>
                        <li>CHỈ TỪ 249K</li>
                        <li>
                          <i class="ri-heart-fill"></i>
                          5000
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-12">
                <div class="trending-orders">
                  <div class="trnding-title">
                    <h5>Trending orders</h5>
                    <a href="media.html"
                      >View All
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </div>
                  <div class="swiper trending-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide trending-box">
                        <div class="card-body trending-items">
                          <img
                            class="img-fluid product-img"
                            src="/images/dashboard/product/1.jpg"
                            alt=""
                          />
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <h5>Poultry Palace</h5>
                            <h6>$20.00</h6>
                          </div>
                          <p>Healthy Foods are nutrient-Dense Foods</p>
                          <ul class="rating">
                            <li>
                              <h6>
                                200
                                <span>Sale</span>
                              </h6>
                            </li>
                            <li>
                              <p>
                                <i class="ri-star-fill"></i>
                                4.5
                              </p>
                            </li>
                          </ul>
                          <div class="marquee-box">
                            <ul class="marquee-discount">
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide trending-box">
                        <div class="card-body trending-items">
                          <img
                            class="img-fluid product-img"
                            src="/images/dashboard/product/2.jpg"
                            alt=""
                          />
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <h5>Wing Mastern</h5>
                            <h6>$30.00</h6>
                          </div>
                          <p>Nutrient-dense with healthy choices</p>
                          <ul class="rating">
                            <li>
                              <h6>
                                200
                                <span>Sale</span>
                              </h6>
                            </li>
                            <li>
                              <p>
                                <i class="ri-star-fill"></i>
                                4.5
                              </p>
                            </li>
                          </ul>
                          <div class="marquee-box">
                            <ul class="marquee-discount">
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide trending-box">
                        <div class="card-body trending-items">
                          <img
                            class="img-fluid product-img"
                            src="/images/dashboard/product/3.jpg"
                            alt=""
                          />
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <h5>Burger Barn</h5>
                            <h6>$20.00</h6>
                          </div>
                          <p>offering numerous health benefits prevention.</p>
                          <ul class="rating">
                            <li>
                              <h6>
                                200
                                <span>Sale</span>
                              </h6>
                            </li>
                            <li>
                              <p>
                                <i class="ri-star-fill"></i>
                                4.5
                              </p>
                            </li>
                          </ul>
                          <div class="marquee-box">
                            <ul class="marquee-discount">
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide trending-box">
                        <div class="card-body trending-items">
                          <img
                            class="img-fluid product-img"
                            src="/images/dashboard/product/4.jpg"
                            alt=""
                          />
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <h5>Poultry Palace</h5>
                            <h6>$15.00</h6>
                          </div>
                          <p>Healthy Foods are nutrient-Dense Foods</p>
                          <ul class="rating">
                            <li>
                              <h6>
                                200
                                <span>Sale</span>
                              </h6>
                            </li>
                            <li>
                              <p>
                                <i class="ri-star-fill"></i>
                                4.5
                              </p>
                            </li>
                          </ul>
                          <div class="marquee-box">
                            <ul class="marquee-discount">
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Year
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide trending-box">
                        <div class="card-body trending-items">
                          <img
                            class="img-fluid product-img"
                            src="/images/dashboard/product/5.jpg"
                            alt=""
                          />
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <h5>Mushroom</h5>
                            <h6>$20.00</h6>
                          </div>
                          <p>Eggs are a nutrient powerhouse overall health.</p>
                          <ul class="rating">
                            <li>
                              <h6>
                                200
                                <span>Sale</span>
                              </h6>
                            </li>
                            <li>
                              <p>
                                <i class="ri-star-fill"></i>
                                4.5
                              </p>
                            </li>
                          </ul>
                          <div class="marquee-box">
                            <ul class="marquee-discount">
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide trending-box">
                        <div class="card-body trending-items">
                          <img
                            class="img-fluid product-img"
                            src="/images/dashboard/product/6.jpg"
                            alt=""
                          />
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <h5>Ribeye Junction</h5>
                            <h6>$20.00</h6>
                          </div>
                          <p>Healthy Foods are nutrient-Dense Foods</p>
                          <ul class="rating">
                            <li>
                              <h6>
                                200
                                <span>Sale</span>
                              </h6>
                            </li>
                            <li>
                              <p>
                                <i class="ri-star-fill"></i>
                                4.5
                              </p>
                            </li>
                          </ul>
                          <div class="marquee-box">
                            <ul class="marquee-discount">
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Month
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide trending-box">
                        <div class="card-body trending-items">
                          <img
                            class="img-fluid product-img"
                            src="/images/dashboard/product/7.jpg"
                            alt=""
                          />
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <h5>Latte Lounge</h5>
                            <h6>$20.00</h6>
                          </div>
                          <p>Healthy Foods are nutrient-Dense Foods</p>
                          <ul class="rating">
                            <li>
                              <h6>
                                200
                                <span>Sale</span>
                              </h6>
                            </li>
                            <li>
                              <p>
                                <i class="ri-star-fill"></i>
                                4.5
                              </p>
                            </li>
                          </ul>
                          <div class="marquee-box">
                            <ul class="marquee-discount">
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                              <li class="discount-info">
                                <img src="/images/dashboard/round.gif" alt="" />
                                Top Of Them Week
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <!-- Container-fluid Ends-->

          <!-- footer start-->
          <div class="container-fluid">
            <footer class="footer">
              <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                  <p class="mb-0">Bản quyền 2025 thuộc về thuongpham09112000</p>
                </div>
              </div>
            </footer>
          </div>
          <!-- footer End-->
        </div>
        <!-- index body end -->
      </div>
      <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->


    <!-- latest js -->
    <script src="js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="js/icons/feather-icon/feather.min.js"></script>
    <script src="js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="js/scrollbar/simplebar.js"></script>
    <script src="js/scrollbar/custom.js"></script>

    <!-- Sidebar jquery -->
    <script src="js/config.js"></script>

    <!-- tooltip init js -->
    <script src="js/tooltip-init.js"></script>

    <!-- Plugins JS -->
    <script src="js/sidebar-menu.js"></script>
    <!-- Apexchar js -->
    <script src="js/chart/apex-chart/apex-chart1.js"></script>
    <script src="js/chart/apex-chart/moment.min.js"></script>
    <script src="js/chart/apex-chart/apex-chart.js"></script>
    <script src="js/chart/apex-chart/stock-prices.js"></script>
    <script src="js/chart/apex-chart/chart-custom1.js"></script>

    <!-- swiper slider -->
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/custom-swiper.js"></script>

    <!-- customizer js -->
    <script src="js/customizer.js"></script>

    <!-- ratio js -->
    <script src="js/ratio.js"></script>

    <!-- Theme js -->
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      const flashMessages = {
        success: "<%= success %>",
        error: "<%= error %>",
        info: "<%= info %>",
      };
    </script>
    <script src="/js/customize-Swal.js"></script>
  </body>

  <!-- Mirrored from themes.pixelstrap.net/zomo/landing/backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Dec 2024 00:48:32 GMT -->
</html>
